<md-sidenav-container fullscreen>
    <md-toolbar color="primary">
        <button md-icon-button (click)="open = !open">
            <md-icon>menu</md-icon>
        </button>

        <span>{{title}}</span>

    </md-toolbar>

    <md-sidenav [opened]="open">
        <md-nav-list>
            <a md-list-item routerLink="/vote">Vote</a>
            <a md-list-item routerLink="/count-votes">Count votes</a>
        </md-nav-list>
    </md-sidenav>


    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
